.reg-input {
    margin-bottom: 3%;
}

.top {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    width: 250px;
    height: 250px;
    margin-top: 3%;
}

.karma {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.profile-top {
    margin-top: 5%;
}

.profile-container {
    width: 65%;
}

.profile-row {
    margin-bottom: 3%;
}

.profile-dialog {
    font-weight: bold;
    font-size: large;
}

.br-wrapper {
    height: 32px;
}

.br-wrapper .br-widget a {
    display: block;
    width: 15px;
    padding: 5px 0;
    height: 30px;
    float: left;
    background-color: #80cbc4;
    margin: 1px;
    text-align: center;
}
.br-wrapper .br-widget a.br-active,
.br-wrapper .br-widget a.br-selected {
    background-color: #00796b;
}
.br-wrapper .br-widget .br-current-rating {
    font-size: 20px;
    line-height: 2;
    float: left;
    padding: 0 20px 0 20px;
    color: #00796b;
    font-weight: 600;
}

.some-container {
    min-height: 1000px;
    padding: 5%;
    margin-bottom: 3%;
}

.review-row {
    margin-bottom: 4%;
}

p {
    margin-bottom: 0.5%;
}

.navPanel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
}

.butSearch {
    margin-right: 2%;
    margin-bottom: 1%;
    float: right;
}

.review-button {
    float: right;
}

.icon-preview {
    display: inline-block;
    padding: 30px;
    margin: 10px;
    background: #D5D5D5;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.icon-preview span {
    display: none;
    position: absolute;
    background: black;
    color: #EEE;
    padding: 5px 8px;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 2px;
    z-index: 10;
}

.icon-preview:hover i {
    color: #00c853;
}

.icon {
    font-size: 90px;
}